// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-new: #69bb7b;
	--ion-color-new-rgb: 105,187,123;
	--ion-color-new-contrast: #ffffff;
	--ion-color-new-contrast-rgb: 255,255,255;
	--ion-color-new-shade: #5ca56c;
	--ion-color-new-tint: #78c288;


    


    --theme-color: #e589a2;
    --theme-black: #000000;
    --theme-white: #ffffff;
    --ion-color-gray: #d7d8da;

}

