.toolbar-custom {
    --background: rgb(247, 228, 235);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Ajusta según tus preferencias */
  }


 .item-custom {
  
  box-shadow: 0 4px 8px rgba(11, 11, 11, 0.3);
  border-radius: 8px;
  margin-bottom: 10px;
  background: rgba(248, 5, 78, 0.5); 
  --color: #0c0c0c;
  height: 50px;
  display: flex;   
  align-items: center; 
  font-size: 0.9rem;
  justify-content: center; 
  align-items: center; 
  
 }
  
  ion-list {
    flex: 1;
    margin-left: 10px; 
    margin-right: 10px;
    margin-top: 10px;
  }

  
  .content-background {
    --ion-background-color: #f5d5e2; /* Color rosa pastel */
  }
  


  