.login-header {
  background: var(--theme-color);
}

.login-content {
  --background: #f6cfde; 
}

.login-container {
  width: 90%; 
  margin: 40px auto 10px; /* Margen superior e inferior y centrado horizontal */
  padding: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  position: fixed; /* Fijar la posición del contenedor */
  top: 190px; /* Ajustar la distancia desde la parte superior de la ventana */
  left: 0; /* Alinear el contenedor a la izquierda */
  right: 0; /* Alinear el contenedor a la derecha */
}



ion-input {
  --background: rgba(255, 255, 255, 0.5); /* Fondo más transparente */
  color: #000000; /* Color del texto */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  margin-bottom: 10px; /* Separación entre cada ion-input */

}


ion-input input {
  color: #000000 !important; 
  

}

.pink-button {
  --background: #ff69b4; 
  margin-top: 20px;
  
}

.form-field ion-label {
  font-size: 1.2em; 
  color: black;
  
  
}
ion-card-title {
  color: #000000; 
  text-align: center; 

}


.logo-video {
  width: 450px;
  height: 400px;
  border: none;
  margin-left: -15px;
  margin-top: -130px;  
  margin-bottom: -130px; 
}

.login-header {
  position: relative;
  background: var(--theme-color);
  border-radius: 0em;
}

.login-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: var(--theme-color);
  border-bottom: 0;
  margin-left: -15px;
  margin-bottom: -15px;
}
