.menu-custom {
  --ion-background-color: #fce4ec; 
  --ion-item-background: #fff; 
  --ion-text-color: #333; 
  --border-color: #f48fb1; 

  border-right: 3px solid var(--border-color); 

  font-family: 'Arial', sans-serif; 

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  padding-top: 40px; 
}


ion-menu ion-content {
  --ion-background-color: #fce4ec; 
  padding: 30px; 
}


ion-menu ion-list {
  margin-top: 30px; 
}


ion-menu ion-icon {
  color: #f48fb1; 
}


ion-list-header {
  font-weight: bold; 
  color: #f48fb1; 
}


ion-item {
  --highlight-background-color: #f8bbd0; 
}


.selected {
  background-color: #f8bbd0; 
  font-weight: bold; 
}


ion-menu-toggle ion-item {
  --background: #fff; 
  margin-bottom: 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  height: 40px;
}


ion-menu-toggle ion-label {
  color: #f48fb1; 
  font-size: 15px; 
  text-align: center;
}


ion-menu-toggle ion-card[selected] {
  background-color: #f8bbd0; 
}
