
<ion-header [translucent]="true"></ion-header>
<ion-toolbar class="toolbar-custom" style="margin-top: 0">
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false" style="color: rgb(223, 123, 165)"></ion-menu-button>
  </ion-buttons>
  <ion-title style="color: rgb(223, 123, 165)">
    <ion-icon name="heart"></ion-icon> Home <ion-icon name="heart"></ion-icon>
  </ion-title>
</ion-toolbar>

<ion-content id="main-content" class="ion-padding home-content" [fullscreen]="true">
  <div class="home-container ">
    <ion-segment [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="opcion1">Home</ion-segment-button>
      <ion-segment-button value="opcion2">Perfil</ion-segment-button>
    </ion-segment>

    <div *ngIf="segmentModel === 'opcion1'">
      
      <form (ngSubmit)="guardardatos()">
        <div class = "home-custom">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="nombre" [(ngModel)]="nombre" name="nombre" required></ion-input>
        </div>

        <div class = "home-custom">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="apellido" [(ngModel)]="apellido" name="apellido" required></ion-input>
        </div>
        <ion-button class= "pink-button"  shape="round" type="submit" expand="block">Guardar</ion-button>
      </form>
    </div>

    <div *ngIf="segmentModel === 'opcion2'">
      <app-mi-componente [nombre]="nombre" [apellido]="apellido"></app-mi-componente>
    </div>
  </div>
</ion-content>
