
ion-content {
  --ion-padding-top: 50px; 
  --ion-padding-bottom: 20px; 
}

.toolbar-custom {
  --background: rgb(247, 228, 235);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Ajusta según tus preferencias */
}


.home-content{
  --background: #f6cfde; 
  margin-top: 0%;
}

.home-container {
  
  color: #000000; 
  width: 100%;
  margin: 40px auto 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f6cfde(232, 123, 166, 0.2);
}

.welcome-title {
  color: #000000; 
  text-align: center; 
}

ion-input {
  --background: rgba(255, 255, 255, 0.5);
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.pink-button {
  --background: #ff69b4; 
  margin-top: 20px;
  
}


.input-animation {
  animation: slideIn 1s 1;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
