<ion-header [translucent]="true"></ion-header>
<ion-toolbar class="toolbar-custom" style="margin-top: 0">
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false" style="color: rgb(223, 123, 165);"></ion-menu-button>
  </ion-buttons>
  <ion-title style="color: rgb(223, 123, 165);">
    <ion-icon name="heart"></ion-icon> Home <ion-icon name="heart"></ion-icon>
  </ion-title>  
</ion-toolbar>

<ion-content id="main-content" class="ion-padding home-content" [fullscreen]="true">
  <div class="home-container">
    <ion-card-header>
      <ion-title class="welcome-title">Bienvenido {{ user }}</ion-title> 
      
    </ion-card-header>

    <ion-card-content>
      
      <ion-text>
        <h1>Información adicional</h1>
      </ion-text>

      <div class="form-field">
        <ion-label position="stacked">
          <ion-icon name="person" slot="start"></ion-icon> 
          Nombre
        </ion-label>
        <ion-input [(ngModel)]="nombre" type="text"></ion-input>
      </div>
      <div class="form-field">
        <ion-label position="stacked">
          <ion-icon name="person" slot="start"></ion-icon> 
          Apellido
        </ion-label>
        <ion-input [(ngModel)]="apellido" type="text"></ion-input>
      </div>
      <div class="form-field">
        <ion-label position="stacked">
          <ion-icon name="school" slot="start"></ion-icon> 
          Nivel de educación
        </ion-label>
        <ion-select [(ngModel)]="nivelEducacion">
          <ion-select-option value="Preescolar">Preescolar</ion-select-option>
          <ion-select-option value="Básica">Básica</ion-select-option>
          <ion-select-option value="Media">Media</ion-select-option>
          <ion-select-option value="Técnico">Técnico</ion-select-option>
          <ion-select-option value="Universitario">Universitario</ion-select-option>
        </ion-select>
      </div>
      <div class="fosrm-field">
        <mat-form-field>
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <ion-button  shape="round"expand="block" color="light" (click)="clearInput('nombre'); clearInput('apellido')">Limpiar</ion-button>
      <ion-button class="pink-button" shape="round" expand="block"  (click)="mostrar()">Mostrar</ion-button>
    </ion-card-content>
  </div>
</ion-content>
